include README.md
include LICENSE
include pyproject.toml
recursive-include optera *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.ipynb
global-exclude *.csv
global-exclude *.json
global-exclude *.pdf
